/*------Particles Background----*/
.background-particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -111;
  //   pointer-events: none;
  background: linear-gradient(
    to bottom,
    $nightLightBlue 0%,
    $nightBlue 33%,
    $nightLightPurple 75%,
    $nightDarkPurple 100%
  );
}

.particles-container {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

/*----Cloud Parallax -----*/
.sunset-parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  .background-text {
    position: absolute;
    max-width: 600px;
    color: white;
    font-size: 30px;
    line-height: 1.4;
    top: 30%;
    left: 10%;
    z-index: 11;
  }
  .sunset-sun,
  .sunset-slide {
    position: absolute;
    top: 0;
    left: -6rem;
    width: 1920px;
    height: 100vh;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
