/*------Variables-------*/

/*---Colors----*/
$gray: rgb(212, 211, 211);
$beige: #e7d8c9;
$turquoise: #007a72;
$nightLightBlue: #263c83;
$nightBlue: #1a2a5f;
$nightLightPurple: #1b1a2d;
$nightDarkPurple: #0a0910;
//Sunset colors
$sunset1: #ff797c;
$sunset2: #ff63a2;
$sunset3: #ff4bca;
$sunset4: #ff2ff7;
/*---Font----*/
$title: 70px;
$heading: 25px;
$text: 16px;
/*------Home Layout-------*/
body {
  padding: 0;
  margin: 0;
  background-color: $nightDarkPurple;
  color: white;
}
.main-layout {
  display: flex;
}
.page {
  min-height: 100vh;
  width: calc(100vw - 6rem);
}
.contact-btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: $turquoise;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}
.page-title-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  .title {
    padding-left: 5rem;
    font-size: 40px;
    margin: 10px;
  }
  .divider-line {
    width: 100%;
    background: linear-gradient(to bottom, #3588c2 0%, #9333ea 100%);
    height: 10px;
  }
}

@import "./navbar";
@import "./home";
@import "./about";
@import "./projects";
@import "./contact";
@import "./animation";
