/*------Variables-------*/

/*---Colors----*/
$gray: rgb(212, 211, 211);
$beige: #e7d8c9;
$turquoise: #007a72;
$nightLightBlue: #263c83;
$nightBlue: #1a2a5f;
$nightLightPurple: #1b1a2d;
$nightDarkPurple: #0a0a15;
//Sunset colors
$sunset1: #ff6b6b;
$sunset2: #4ecdc4;
$sunset3: #45b7d1;
$sunset4: #96ceb4;
/*---Font----*/
$title: 70px;
$heading: 25px;
$text: 16px;
/*------Home Layout-------*/
body {
  padding: 0;
  margin: 0;
  background-color: $nightDarkPurple;
  color: white;
}
.content {
  width: 100%;
}
.main-layout {
  display: flex;
  position: relative;
}
.page {
  min-height: 100vh;
  width: 100%;
}
.contact-btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: $turquoise;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}
.page-title-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  .title {
    padding-left: 10rem;
    font-size: 40px;
    margin: 10px;
  }
  .divider-line {
    width: 100%;
    background: linear-gradient(to bottom, #3588c2 0%, #9333ea 100%);
    height: 10px;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: $nightDarkPurple; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #3588c2 0%,
    #9333ea 100%
  ); /* Same as your divider */
  border-radius: 10px;
  border: 2px solid $nightDarkPurple; /* Border around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #9333ea 0%,
    #3588c2 100%
  ); /* Reversed gradient on hover */
}

@import "./navbar";
@import "./home";
@import "./about";
@import "./projects";
@import "./contact";
@import "./animation";
