/*------Variables-------*/
$gray: rgb(212, 211, 211);
$beige: #e7d8c9;

/*------Home Layout-------*/
body {
  padding: 0;
  margin: 0;
  background-color: $beige;
}
.main-layout {
  display: flex;
}

@import "./navbar";
@import "./home";
