/*------Variables-------*/

/*---Colors----*/
$gray: rgb(212, 211, 211);
$beige: #e7d8c9;
$turquoise: #007a72;
$nightLightBlue: #263c83;
$nightBlue: #1a2a5f;
$nightLightPurple: #1b1a2d;
$nightDarkPurple: #0a0910;
/*---Font----*/
$title: 70px;
$heading: 25px;
$text: 16px;
/*------Home Layout-------*/
body {
  padding: 0;
  margin: 0;
  background-color: $nightDarkPurple;
  color: white;
}
.main-layout {
  display: flex;
}
.page {
  min-height: 100vh;
  width: calc(100vw - 6rem);
  border-bottom: 1px solid white;
}
.contact-btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: $turquoise;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

@import "./navbar";
@import "./home";
@import "./about";
@import "./projects";
@import "./contact";
@import "./animation";
